

























/* this is for the mobile */


@media screen and (max-width: 576px) {
nav{
    height: max-content;
}


    .navbar{
    flex-direction: column;

}


    .navmanu{
        flex-direction: column;
    }
  .navmanu ul{
    flex-direction: column;
  }

.navmanu ul li {
    margin-top: 20px;
}
.nav-follow{
    margin-bottom: 30px;
}

.header-content{
flex-direction: column-reverse;
margin: 0px;
}
.header-image, .header-content-text{
    width: auto;
    padding: 0px;
}

.header-image{
    text-align: center;
}
.header-image img {
    width: 84%;
    margin: 0px auto;
}
.header-content-text{
    text-align: center;
}
.header-h1,{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;

}
.header-h2{
    font-size: 50px;
}



.header-btn-1,.header-btn-2{
    padding: 10px 20px;
}

.header-btn-2 {
    margin-left: 0px;
}


.online-game{
    text-align: center;
    padding: 20px 50px;
}

.online-game-items{
    flex-direction: column;

}

.online-game h1{
    font-size: 30px;
}

.online-game p{
    font-size: 15px;
}

.item{
    width: auto;
}


.playinstant-container{
    text-align: center;
    padding: 0px 30px;
    margin-top: 50px;
}


.play-instantly{
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-content: center;

}

.play-instantly-text{
    padding-bottom: 50px;
}
.img1{
    width: 300px;
    height: 350px;
}
.img2{
    height:200px;
    width: 180px;
    top: -130px;
}

.pink{
    text-align: center;
    flex-direction: column;
    height: max-content;
    padding: 0px;
    margin: 0px;

}
.pink-text{
    width: 90%;
}
.pink-img{
    width: 90%;
}
.pink-img img{
    height: 100%;
    width: 100%;
}

.pink-list{
    justify-content: space-evenly;
}


.games{
    padding: 10px 10px ;
    margin-top: 50px;
    margin-bottom: 50px;
    height: max-content;
    flex-wrap: wrap;
}

.footer-div1{
    flex-direction: column;
}

.icons{
    flex-direction: column;
}

footer{
    margin-top: 100px;
}


.footer-ul{
flex-direction: column;
}









}
